@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #000000;
}

.inner-header{
    width: 85%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo-container{
    height: 100%;
    display: table;
    float: left;
}

.logo-container a{
    height: 100%;
    display: table;
    padding: 0px 20px;
}

.logo-container a h1{
color: white;
height: 100%;
display: table-cell;
vertical-align: middle;
font-family: 'Spartan', sans-serif;
font-size: 32px;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
   display: table-cell;
   vertical-align: middle;
   height: 100%;
   color: white;
   font-size: 16px;
}

main{
    line-height: 35px;
}

body{
    background-color: #191a1c;
}

.register-message{
    color: white;
}

.login-message{
    color: white;
}

.login-register{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-todo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.task-form{
    margin: 5vh 2vw;
}

.task-status{
    color: white;
}

.container-table{
    width: 60%;
    height: 100%;
    display: flex;
    margin: 5vh 2vw;
}

.table-tasks{
    width: 100%;
    height: 100%;
}

.table-tasks th{
    color: #ff6740;
    font-size: 25px;
}

.table-tasks td{
    display: table-cell;
    color: white;
    text-align: center;
}

input[type=text], input[type=email],  input[type=password]{
    padding: 12px 20px;
    color: white;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #191a1c;
    border-radius: 0px;
    background: #2c2c2c;
}

.input-login-register{
    width: 20%;
}

.button-login-register{
    width: 20%;
}

input[type=text]:focus, input[type=email]:focus,  input[type=password]:focus{
    outline: 1px solid #ff6740;
}

  button[type=submit] {
    background-color: #ff6740;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #ff8c40;
  }
  
::placeholder{
    color: white;
}

#close_cookie{display:none;}
	#close_cookie:checked + #cookie_consent_popup{display:none;}	
#cookie_consent_popup{
	position:fixed;
	bottom:30px;left:30px;
	width:400px;
	height:180px;
	background-color:#ff8c40;
	padding:20px;
	 z-index:2;
}
	#cookie_consent_popup h1{
		font-size:1.2em;
	}
		#cookie_consent_popup h1:before{
			content:"";
			padding:0;
		}
	#cookie_consent_popup p{
		font-size:0.7em;
	}
	#cookie_consent_popup #close_cookie_box{
		position:absolute;
		top:20px;right:20px;
		cursor:pointer;
		font-size:1.3em;
	}
	#cookie_consent_popup #ok_cookie_box{
		position:absolute;
		bottom:20px;right:20px;
		cursor:pointer;
		font-size:1.6em;
		padding:10px 20px;
		font-weight:700;
		color:white;
	}
    #cookie_consent_popup #ok_cookie_box:hover{
		color:#f86844;
	}